.container {
    display: flex;
    height: 100%;
}

.parent {
    padding: 12px;
    flex: 1;
    background-color: #DBB8B6;
    border: gray 1px solid;
}

.children {
    display: flex;
    flex-direction: column;
    flex: 1;
    background: #B5DBB7;
}

.child {
    padding: 12px;
    flex: 1;
    border: gray 1px solid;
}